body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    color: #070a0d;
}

h2 {
    font-weight: 600;
    color: #070a0d;
}

h3 {
    font-weight: 300;
    color: #070a0d;
}

body {
    background-color: lightgray;
}

p{
    text-align: left;
}

.page {
    width: 1000px;
    background-color: #ffffff;
    margin: auto;
    padding: 50px;
    padding-top: 0px;
}


.vis-container {
    width: 100%;
}